<div class="sample-prep card">
    <div class="data-table">
      <div class="row table-row">
        <div class="col-md-2 table-th ">
          <div class="row">
            <div class="col-md-6">
              Smapling Method
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name=""> {{recordDetails | json}}
            </div>
          </div>
        </div>
        <div class="col-md-2 table-th ">
          <div class="row">
            <div class="col-md-6">
              Pathogen Test
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="">
              <!-- {{supplier.supplierId}} -->
            </div>
          </div>
        </div>
        <div class="col-md-2 table-th ">
          <div class="row">
            <div class="col-md-6">
              Virus Test
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="">
              <!-- {{broker.brokerId}} -->
            </div>
          </div>
        </div>
        <div class="col-md-2 table-th ">
          <div class="row">
            <div class="col-md-6">
              Pesticides Test
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="">
              <!-- {{country.countryid}} -->
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="table-head">
      <div class="row table-row">
        <div class="col-md-2 table-th ">
          <div class="row">
            <div class="col-md-6">
              Qc Analysis
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="">
              <!-- {{po.poid}} -->
            </div>
          </div>
        </div>
        <div class="col-md-2 table-th ">
          <div class="row">
            <div class="col-md-6">
              Indicator test
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="">
              <!-- {{containerno.containerId}} -->
            </div>
          </div>
        </div>
        <div class="col-md-2 table-th ">
          <div class="row">
            <div class="col-md-6">
              Packing List
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="">
              <!-- {{lotno.lotId}} -->
            </div>
          </div>
        </div>
        <div class="col-md-2 table-th email">
          <div class="row">
            <div class="col-md-6">
              Prepared By
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="">
              <!-- {{product.productId}} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divtable raw">
      <div class="table-head">
        <div class="row table-row">
          <div class="col-md-1 table-th action">
            Supplier Lot
          </div>
          <div class="col-md-1 table-th action">
            New Lot
          </div>
          <div class="col-md-2 table-th action">
            If no Previous Po
          </div>
          <div class="col-md-1 table-th action">
            Total Quality
          </div>
          <div class="col-md-1 table-th action">
            Qc Analysys
          </div>
          <div class='col-md-1 table-th action'>
            Indicator test
          </div>
          <div class='col-md-1 table-th action'>
            Pathogen test
          </div>
          <div class='col-md-1 table-th action'>
            Virus test
          </div>
          <div class='col-md-1 table-th action'>
            Indicator test
          </div>
          <div class='col-md-1 table-th action'>
            Pestiside test
          </div>
        </div>
      </div>
    </div>