<div class="divtable data">
	<div class="table-head">
		<div class="row table-row">
			<div class="col-md-2 table-th ">
				<div class="row">
					<div class="col-md-6">
						Plant
					</div>
					<div class="col-md-6">			
						<input type="text" class="form-control" name="">
					</div>
				</div>	
		    </div>
			<div class="col-md-2 table-th ">
				<div class="row">
					<div class="col-md-6">
						Supplier
					</div>
					<div class="col-md-6">			
						<input type="text" class="form-control" name="">
					</div>
				</div>				
			</div>
			<div class="col-md-2 table-th " >
				<div class="row">
					<div class="col-md-6">
						Broker
					</div>
					<div class="col-md-6">			
						<input type="text" class="form-control" name="">
					</div>
				</div>	
			</div>
			<div class="col-md-2 table-th ">
				<div class="row">
					<div class="col-md-6">
						Country
					</div>
					<div class="col-md-6">			
						<input type="text" class="form-control" name="">
					</div>
				</div>	
			</div>
			<div class="col-md-2 table-th email">
				<div class="row">
					<div class="col-md-6">
						Product
					</div>
					<div class="col-md-6">			
						<input type="text" class="form-control" name="">
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="table-head">
		<div class="row table-row">
			<div class="col-md-2 table-th ">
				<div class="row">
					<div class="col-md-6">
						Po
					</div>
					<div class="col-md-6">			
						<input type="text" class="form-control" name="">
					</div>
				</div>	
		    </div>
			<div class="col-md-2 table-th ">
				<div class="row">
					<div class="col-md-6">
							Container No
					</div>
					<div class="col-md-6">			
						<input type="text" class="form-control" name="">
					</div>
				</div>				
			</div>
			<div class="col-md-2 table-th " >
				<div class="row">
					<div class="col-md-6">
						Lot No
					</div>
					<div class="col-md-6">			
						<input type="text" class="form-control" name="">
					</div>
				</div>	
			</div>
			<div class="col-md-2 table-th ">
				<div class="row">
					<div class="col-md-6">
						Approved
					</div>
					<div class="col-md-6">			
						<input type="text" class="form-control" name="">
					</div>
				</div>	
			</div>
			<div class="col-md-2 table-th ">
				<div class="row">
					<div class="col-md-6">
						Prodcut Code
					</div>
					<div class="col-md-6">			
						<input type="text" class="form-control" name="">
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="table-body">
		<app-raw-material-row *ngFor="let rawmaterial of rawmaterials" [rawmaterial]="rawmaterial"></app-raw-material-row>
	</div>
</div>