<form [formGroup]="dataForm" (ngSubmit)="onRecordCreate()" novalidate autocomplete="off">

  <div class="raw-materials justify-content-center card" > 

    <div class="col-md-12 m-t-5 ">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row ">
            <div class="col-md-4 form group">
              <label for="name">Purchase Order</label>
              
            </div>
            <div class="col-md-8 form group">
              <input type="text" class="form-control" placeholder="Purchase Order" [formControl]="dataForm.controls['po']" [(ngModel)]="po"
                formControlName="po">
              <div class="messages text-danger clearfix float-left" *ngIf="dataForm.controls['po'].errors && (dataForm.controls['po'].dirty || dataForm.controls['po'].touched)">
                <p *ngIf="dataForm.controls['po'].errors.required">Purchase number is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row ">
            <div class="col-md-4 form group">
              <label for="name">Lot Number</label>
            </div>
            <div class="col-md-8 form group">
              <input type="text" class="form-control" placeholder="Lot Number" [formControl]="dataForm.controls['lotNo']" [(ngModel)]="lotNo"
                formControlName="lotNo">
              <div class="messages text-danger clearfix float-left" *ngIf="dataForm.controls['lotNo'].errors && (dataForm.controls['lotNo'].dirty || dataForm.controls['lotNo'].touched)">
                <p *ngIf="dataForm.controls['lotNo'].errors.required">Lot number is required</p>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row ">
            <div class="col-md-4 form group">
              <label for="name">Container Number</label>
            </div>
            <div class="col-md-8 form group">
              <input type="text" class="form-control" placeholder="Container Number" [formControl]="dataForm.controls['containerNo']" [(ngModel)]="containerNo"
                formControlName="containerNo">
              <div class="messages text-danger clearfix float-left" *ngIf="dataForm.controls['containerNo'].errors && (dataForm.controls['containerNo'].dirty || dataForm.controls['containerNo'].touched)">
                <p *ngIf="dataForm.controls['containerNo'].errors.required">Container number is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row ">
            <div class="col-md-4 form group">
              <label for="name">Created By</label>
            </div>
            <div class="col-md-8 form group">
              <input type="text" class="form-control" [readOnly]="true" name="input" [(ngModel)]="createdBy" formControlName="createdBy">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row ">
            <div class="col-md-4 form group">
              <label for="name">Plant</label>
            </div>
            <div class="col-md-8 form group">
              <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="plantList" placeholder='Select Plant' [(ngModel)]="plant"
                (ngModelChange)='changePlant()' formControlName="plant"></ng-select>
                <div class="messages text-danger clearfix float-left" *ngIf="dataForm.controls['plant'].errors && (dataForm.controls['plant'].dirty || dataForm.controls['plant'].touched)">
                <p *ngIf="dataForm.controls['plant'].errors.required">Palnt name is required</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xs-12 col-sm-6 col-md-6 data-table">
					<div class="row ">
						<div class="col-md-4 form group">
							<label for="name">Date Created</label>
						</div>
						<div class="col-md-8 form group">
							<div class="form-group ">
								<div class="input-group">
									<input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="createdDate" formControlName="createdDate" ngbDatepicker
									 #d="ngbDatepicker">
									<div class="input-group-addon bg-default" (click)="d.toggle()">
										<span class="icofont icofont-ui-calendar"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->

        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row ">
            <div class="col-md-4 form group">
              <label for="name">Supplier Name</label>
            </div>
            <div class="col-md-8 form group">
              <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="supplierList" placeholder='Select Supplier' [(ngModel)]="supplier"
                (ngModelChange)='changeSupplier()' formControlName="supplier"></ng-select>
                  <div class="messages text-danger clearfix float-left" *ngIf="dataForm.controls['supplier'].errors && (dataForm.controls['supplier'].dirty || dataForm.controls['supplier'].touched)">
                <p *ngIf="dataForm.controls['supplier'].errors.required">Supplier name is required</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row ">
            <div class="col-md-4 form group">
              <label for="name">Broker</label>
            </div>
            <div class="col-md-8 form group">
              <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="brokerList" placeholder='Select Broker' [(ngModel)]="broker"
                (ngModelChange)='changeBroker()' formControlName="broker"></ng-select>
                 <div class="messages text-danger clearfix float-left" *ngIf="dataForm.controls['broker'].errors && (dataForm.controls['broker'].dirty || dataForm.controls['broker'].touched)">
                <p *ngIf="dataForm.controls['broker'].errors.required">Broker name is required</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row ">
            <div class="col-md-4 form group">
              <label for="name">Country Of Origin</label>
            </div>
            <div class="col-md-8 form group">
              <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="selectedSupplier?.address" placeholder='Select COO' [(ngModel)]="coo"
                formControlName="coo"></ng-select>
                 <div class="messages text-danger clearfix float-left" *ngIf="dataForm.controls['coo'].errors && (dataForm.controls['coo'].dirty || dataForm.controls['coo'].touched)">
                <p *ngIf="dataForm.controls['coo'].errors.required">Coo required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row ">
            <div class="col-md-4 form group">
              <label for="name">Raw Material Group</label>
            </div>
            <div class="col-md-8 form group">
              <select name="select" class="form-control form-control-default" [(ngModel)]="materialGrp" formControlName="materialGrp" (ngModelChange)='changeMaterialGroup()'>
                <option *ngFor="let item of materialGrpList" value={{item}}>
                  {{item}}
                </option>
              </select>
                  <div class="messages text-danger clearfix float-left" *ngIf="dataForm.controls['materialGrp'].errors && (dataForm.controls['materialGrp'].dirty || dataForm.controls['materialGrp'].touched)">
                <p *ngIf="dataForm.controls['materialGrp'].errors.required">Raw Material Group is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row ">
            <div class="col-md-4 form group">
              <label for="name">Raw Material</label>
            </div>
            <div class="col-md-8 form group">
              <ng-select class="rawmat" [ngClass]="'ng-select'" [allowClear]="true" [options]="materialList" placeholder='Select Material'
                [(ngModel)]="material" formControlName="material" (ngModelChange)='changeMaterial()'></ng-select>
                  <div class="messages text-danger clearfix float-left" *ngIf="dataForm.controls['material'].errors && (dataForm.controls['material'].dirty || dataForm.controls['material'].touched)">
                <p *ngIf="dataForm.controls['material'].errors.required">Raw Material is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row " >
            <div class="col-md-4 form group">
              <label for="name">Variety</label>
            </div>
            <div class="col-md-8 form group">
              <select name="select" class="form-control form-control-default"  formControlName="variety">
                <option *ngFor="let item of selectedMaterial.variety" value={{item}}>
                  {{item}}
                </option>
              </select>
               <div class="messages text-danger clearfix float-left" *ngIf="dataForm.controls['variety'].errors && (dataForm.controls['variety'].dirty || dataForm.controls['variety'].touched)">
                <p *ngIf="dataForm.controls['variety'].errors.required">Variety is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row">
            <div class="col-md-4 form group">
              <label for="name">Kosher</label>
            </div>
            <div class="col-md-8 form-radio">
              <div class="radio radiofill radio-inline">
                <label>
                  <input type="radio" formControlName="kosher" [(ngModel)]="kosher" value="true">
                  <i class="helper"></i>Yes
                </label>
              </div>
              <div class="radio radiofill radio-inline">
                <label>
                  <input type="radio" formControlName="kosher" [(ngModel)]="kosher" value="false">
                  <i class="helper"></i>No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row ">
            <div class="col-md-4 form group">
              <label for="name">Approved</label>
            </div>
            <div class="col-md-8 form-radio">
              <div class="radio radiofill radio-inline">
                <label>
                  <input type="radio" formControlName="isApproved" [(ngModel)]="isApproved" value="true">
                  <i class="helper"></i>Yes
                </label>
              </div>
              <div class="radio radiofill radio-inline">
                <label>
                  <input type="radio" formControlName="isApproved" [(ngModel)]="isApproved" value="false">
                  <i class="helper"></i>No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row ">
            <div class="col-md-4 form group">
              <label for="name">Organic</label>
            </div>
            <div class="col-md-8 form-radio">
              <div class="radio radiofill radio-inline">
                <label>
                  <input type="radio" formControlName="organicValue" [(ngModel)]="organicValue" value="true">
                  <i class="helper"></i>Yes
                </label>
              </div>
              <div class="radio radiofill radio-inline">
                <label>
                  <input type="radio" formControlName="organicValue" [(ngModel)]="organicValue" value="false">
                  <i class="helper"></i>No
                </label>
              </div>
              <!-- <input type="text" name="input" class="form-control form-control-primary" [(ngModel)]="organic" formControlName="organic"> -->
            </div>
          </div>
        </div>
        <!-- <div class="col-xs-12 col-sm-6 col-md-6 data-table">
					<div class="row ">
						<div class="col-md-4 form group">
							<label for="name">Raw Material Code</label>
						</div>
						<div class="col-md-8 form group">
							<input type="text" [readOnly]="true" name="input" class="form-control form-control-primary" [(ngModel)]="selectedProduct.productId" formControlName="productCode">
						</div>
					</div>
				</div> -->

        <div class="col-xs-12 col-sm-6 col-md-6 data-table">
          <div class="row " >
            <div class="col-md-4 form group">
              <label for="name">Non-GMO</label>
            </div>
            <div class="col-md-8 form-radio">
              <div class="radio radiofill radio-inline">
                <label>
                  <input type="radio" formControlName="nonGMO" [(ngModel)]="nonGMO" value="true">
                  <i class="helper"></i>Yes
                </label>
              </div>
              <div class="radio radiofill radio-inline">
                <label>
                  <input type="radio" formControlName="nonGMO" [(ngModel)]="nonGMO" value="false" >
                  <i class="helper"></i>No
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" row justify-content-center">
      <button type="button" class="btn btn-warning" (click)="redirecttoRecord()">Exit</button>
      <button type="submit" class="btn btn-success" [disabled]="!dataForm.valid" >Save & Submit</button>
      <button type="button" class="btn btn-secondary" (click)="dataForm.reset()">Cancel </button>
    </div>
  </div>
</form>
