<div class="sample collection">
  <div class="col-md-12">
    <div class="row table-th">
    <div class="col-md-4">
      Total Samples :
      <strong>{{totalSamples}}</strong>
    </div>
    <div class="col-md-4">
      Remaining Samples : 
      <strong> {{remainingsamples}} </strong>  
    </div>
    <div class="col-md-4">
       <span>
         <a  (click)="addNewSample()" class="">Add new Samples
          <span class="fa fa-plus-circle fa-2x "></span>
         </a>
      </span>
      <!-- <button type="button" class="btn btn-success" (click)="addNewSample()">Add new Samples</button> -->
    </div>
    </div>
 </div>

  <form [formGroup]="sampleForm" *ngIf="showEditFields" (ngSubmit)="saveUpdateSample()">
    <div class="row">
      <div class="col-sm-3">
        <ng-select [allowClear]="true" [ngClass]="'ng-select'" [options]="supplierLotlist" placeholder='Select Supplier Lot' [(ngModel)]="supplierlot"
          (ngModelChange)='changeSupplierLot()' formControlName="supplierLot"></ng-select>
      </div>
      <div class="col-sm-3">
        <input type="file" (change)="onFileChange($event)" #fileInput class="custom-file-input">
        <span class="custom-file-control">Drag and drop your files here</span>
      </div>
      <div class="col-sm-5">
        <ul class="list-inline">
          <li class="list-group-item media-left" *ngFor="let item of attachments; let i=index">
            <img [src]="item.imagedata" class="media-object" />
            <span class="fa fa-trash" (click)="delete($event,i,attachments)"></span>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12 checkbox-zoom zoom-primary ">
        <label>
          <input type="checkbox" formControlName="qaAnalysis">
          <span class="cr">
            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
          </span>
          <span>Is Quality Analysis sample taken</span>
        </label>
      </div>

      <div class="col-sm-12  checkbox-zoom zoom-primary">
        <label>
          <input type="checkbox" formControlName="pathvirsuFcon">
          <span class="cr">
            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
          </span>
          <span>Is Pathogen/Virus/Indicator test sample taken</span>
        </label>
      </div>

      <div class=" col-sm-12  checkbox-zoom zoom-primary">
        <label>
          <input type="checkbox" formControlName="pestcidesFcon">
          <span class="cr">
            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
          </span>
          <span>Is Pesticide test sample taken</span>
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" >Comments </label>
      <div class="col-sm-4">
        <textarea rows="4" cols="4" class="form-control" formControlName="comments" placeholder="Enter your comments"></textarea>
      </div>
      <div class="col-sm-2" >
        <button type="submit" class="btn btn-primary btn-md" [disabled]="!sampleForm.valid">Save</button>
      </div>
    </div>
  </form>

    

  <div class="row">
    <table class="table table-responsive">
      <thead>
        <tr>         
          <th scope="col">Supplier Lot</th>
          <th scope="col">Picture of <br/> the Label</th>
          <th scope="col">Is QA sample taken</th>
          <th scope="col">Is Pathogen/Virus/ <br/> Indictor sample taken</th>
          <th scope="col">Is Pesticide Test <br/> sample taken</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sample of sampleList">         
          <td>{{sample.supplierLot}}</td>
          <td>         
           <a [href]="sample.caseImgl" target="_blank" class="btn btn-default btn-custom">{{sample.imagename}} </a>
          </td>
          <td>{{sample.qualityAnalysis}}</td>
          <td>{{sample.testGrp}}</td>
          <td>{{sample.pesticideTest}}</td>
          <td>{{sample.comment}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row pull-right"> 
    <span>   
      <button type="button" class="btn btn-outline-primary"(click)="onPrevious();">Previous</button>
    <button autofocus="" type="button" class="btn btn-outline-warning" 
    (click)="onExit()">Exit</button>
    <button type="button" class="btn btn-outline-danger"(click)='cancel()'>Cancel</button>
    <button type="button" class="btn btn-outline-success"(click)='onNext()'>Next</button>
    </span>
 </div>
</div>


<!-- 
 <div class="sample-collection table-head "> 
         <div class="col-md-12 ">
            <div class="row">
              <div class="col-md-2 table-th action">
              Supplier Lot
              </div>
              <div class="col-md-2 table-th action">
                Picture of the Label
              </div>
              <div class="col-md-2 table-th action">
               Is QA sample taken
              </div>
              <div class="col-md-2 table-th action">
               Is Pathogen/Virus/ Indictor sample taken
              </div>
              <div class="col-md-2 table-th action">
                Is Pesticide Test sample taken
              </div>
              <div class='col-md-2 table-th action'>
               Comments
              </div>
            </div>
        </div>

      <div class="sample-collection table-body "> 
         <div class="col-md-12 ">
            <div class="row">
              <div class="col-md-2 table-th actionraw" *ngFor="let sample of sampleList">
              {{sample.supplierLot}}
              </div>
              <div class="col-md-2 table-th actionraw">
                <a [href]="sample.caseImgl" target="_blank" class="btn btn-default btn-custom">{{sample.imagename}} </a>
              </div>
              <div class="col-md-2 table-th actionraw">
             
              </div>
              <div class="col-md-2 table-th actionraw">
               
              </div>
              <div class="col-md-2 table-th actionraw">
     
              </div>
              <div class='col-md-2 table-th actionraw'>
               Comments
              </div>
            </div>
        </div> -->