@import "~@ng-select/ng-select/themes/default.theme.css";
.raw-materials {		
    .card{
        border-radius:5px;
     box-shadow:rgba(4, 26, 55, 0.16);
     border: none; 
     border-top: 10px;
     }	
     .data-table{
          padding-top:8px;
          padding-bottom: 8px;	 
     }
     .form-group{
          
           padding-top:8px;
           padding-bottom: 8px;	 
     }
   .btn{
     margin-top: 10px;  
     text-transform: uppercase;
     letter-spacing: 1px; 
     margin-bottom: 20px; 
     margin-right:5px;
    font-weight: 900;
     font-size: 12px;
     width: 100px;
     height: 40px;    
     } 
     .notallowed {
        cursor: not-allowed;
    }
 }
 
 .table thead th{
     border-bottom:none;
     border-top:2px;
     box-shadow:rgba(4, 26, 55, 0.16);
     margin-top: 50px;
 }
 .box{
     border-radius:5px;
     box-shadow:rgba(4, 26, 55, 0.16);
 }
 
 .heading{
   height: 5px;
  
 }
 .exit{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
 }
 ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}
 