<div class="sample-collection  card">
    <div class="table-head">
      <div class="row table-row">
        <div class="col-md-1 table-th action">
          Samppling No
        </div>
        <div class="col-md-1 table-th action">
          Supplier Lot
        </div>
        <div class="col-md-2 table-th action">
          Picture Of case Label
        </div>
        <div class="col-md-2 table-th action">
          Qc Analysis Sampling
        </div>
        <div class="col-md-1 table-th action">
          Micro Sampling
        </div>
        <div class='col-md-1 table-th action'>
          Virus Sampling
        </div>
        <div class='col-md-2 table-th action'>
          Pesticide sampling
        </div>
        <div class='col-md-2 table-th action'>
          Indicator Organism Sampling
        </div>
      </div>
    </div>
</div>


     <div class="table-head">
      <div class="row table-row">
        <div class="col-md-1 table-th action">
          {{sampplingno}}
        </div>
        <div class="col-md-1 table-th action">
          {{supplierlot}}
        </div>
        <div class="col-md-2 table-th action">
          {{pictureofcaselabel}}
        </div>
        <div class="col-md-2 table-th action">
          {{qcanalysissampling}}
        </div>
        <div class="col-md-1 table-th action">
          {{microsampling}}
        </div>
        <div class='col-md-1 table-th action'>
          {{virussampling}}
        </div>
        <div class='col-md-2 table-th action'>
          {{pesticidesampling}}
        </div>
        <div class='col-md-2 table-th action'>
          {{indicatororganismsampling}}
        </div>
      </div>
    </div>

