<div class="sample-collection">
  <div class="sample-collection  card">
      <div class="table-head">
        <div class="row table-row">
          <div class="col-md-1 table-th action">
            Samppling No
          </div>
          <div class="col-md-1 table-th action">
            Supplier Lot
          </div>
          <div class="col-md-1 table-th action">
            Picture Of case Label
          </div>
          <div class="col-md-2 table-th action">
            Qc Analysis Sampling
          </div>
          <div class="col-md-1 table-th action">
            Micro Sampling
          </div>
          <div class='col-md-1 table-th action'>
            Virus Sampling
          </div>
          <div class='col-md-2 table-th action'>
            Pesticide sampling
          </div>
          <div class='col-md-2 table-th action'>
            Indicator Organism Sampling
          </div>
           <div class='col-md-1 table-th action'>
            Comments
        </div>
        </div>
      </div>
  </div>


     <div class="table-head">
      <div class="row table-row" *ngFor="let sample of samples">
        <div class="col-md-1 table-th action">
          {{sample.sampplingno}}

        </div>
        <div class="col-md-1 table-th action">
            <select type="text" class="form-control" name="" >
               <option >{{supplierlot}}</option>      
          </select>
        </div>
        <div class="col-md-1 table-th action">
      <a  href="./recordkeeping/raw-matrial/document-upload/123" class="image"><span class="fa fa-camera fa-2x "></span></a> 
          {{sample.pictureofcaselabel}}
        </div>
        <div class="col-md-2 table-th action">
         <span>             
             <input type="checkbox" calss="checkbox">
             <label>{{sample.qcanalysissampling}}</label> 
         </span> 
        </div>
        <div class="col-md-1 table-th action">
           <input type="checkbox" calss="checkbox">
         <label> {{sample.microsampling}}</label> 
        </div>
        <div class='col-md-1 table-th action'>
           <input type="checkbox" calss="checkbox">
         <label> {{sample.virussampling}}</label> 
        </div>
        <div class='col-md-2 table-th action'>
           <input type="checkbox" calss="checkbox">
          <label>{{sample.pesticidesampling}}</label> 
        </div>
        <div class='col-md-2 table-th action'>
           <input type="checkbox" calss="checkbox">
         <label> {{sample.indicatororganismsampling}}</label> 
        </div>
         <div class='col-md-1 table-th action'>
           <textarea type="text" class="form-control" name="" value=""></textarea> 
        </div>
      </div>
    </div>
  <div class="button pull-right">
                <span>
                  <button type="button" class="btn btn-warning">Cancel</button>
                  <button autofocus="" type="button" class="btn btn-success" >Save</button>
                  <button type="button" class="btn btn-default" >Exit</button>
               </span>
      </div>
</div>