.sample-collection  {		
    .card{
     border-radius:5px;
     box-shadow:rgba(4, 26, 55, 0.16);
     border: none; 
     border-top: 10px;
     }	
     .table-th,{
          padding-top:8px;
          padding-bottom: 8px;	
          margin-left: 8px;
     }
       
              
}

 

     
