<div class="row sample-perparation">
  <div class="col-sm-2 " style="padding-top: 17px">
    Total Samples :
    <strong>{{totalSamples}}</strong>
  </div>
  <div class="col-sm-2 " style="padding-top: 17px">
    Remaining Samples :
    <strong> {{remainingsamples || 0}} </strong>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-success btn-sm" (click)="addNewSample()">Add new Samples</button>
  </div>
</div>
<form [formGroup]="sampleForm" *ngIf="showEditFields" (ngSubmit)="saveUpdateSample()" class="sample-perparation">
  <div class="row">
    <div class="col-sm-3" style="margin-top: 21px;">
      <!--ng-select [allowClear]="true" [ngClass]="'ng-select'" [options]="supplierLotlist" placeholder='Select Supplier Lot' [(ngModel)]="supplierlot"
        (ngModelChange)='changeSupplierLot()' formControlName="supplierLot"></ng-select -->

      <ng-select [items]="supplierLotlist" [selectOnTab]="true" bindLabel="label" bindValue="value" [clearable] ="supdrpclear" [(ngModel)]="supplierlot" (ngModelChange)="changeSupplierLot()"
        placeholder="Select Supplier Lot" formControlName="supplierLot">
      </ng-select>   
    </div>
    <div class="col-sm-3 custom-file" style="height: 76px;">
      <input type="file" style="margin-top: 21px;" (change)="onFileChange($event)" #fileInput class="custom-file-input">
      <span class="custom-file-control" style="margin-top: 21px">Drag and drop your files here</span>
    </div>
    <div class="col-sm-5">
      <ul class="list-inline" style="margin-bottom: 0px">
        <li class="list-group-item media-left" *ngFor="let item of attachments; let i=index">
          <img [src]="item.imagedata" class="media-object" />
          <span class="fa fa-trash" (click)="delete($event,i,attachments)"></span>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12 checkbox-zoom zoom-primary ">
      <label>
        <input type="checkbox" formControlName="qaAnalysis">
        <span class="cr">
          <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
        </span>
        <span>Quality Analysis sample</span>
      </label>
    </div>

    <div class="col-sm-12  checkbox-zoom zoom-primary">
      <label>
        <input type="checkbox" formControlName="pathvirsuFcon">
        <span class="cr">
          <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
        </span>
        <span>Pathogen Test sample</span>
      </label>
    </div>

    <div class=" col-sm-12  checkbox-zoom zoom-primary">
      <label>
        <input type="checkbox" formControlName="pestcidesFcon">
        <span class="cr">
          <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
        </span>
        <span>Pesticide Test sample</span>
      </label>
    </div>
  </div>
  <div class="row">
    <label class="col-sm-2 col-form-label" style="padding-top:45px">Comments</label>
    <div class="col-sm-4">
      <textarea rows="5" cols="50" formControlName="comments" placeholder="Enter your comments"></textarea>
    </div>
    <div class="col-sm-2" style="padding-top:66px">
      <button type="submit" class="btn btn-primary btn-sm" [disabled]="!sampleForm.valid || attachments.length < 0">Save</button>
      <button type="button" class="btn btn-primary btn-sm" [disabled]="!sampleForm.valid" (click)="rebuildForm()">Cancel</button>
    </div>
  </div>
</form>

<div class="row sample-perparation">
  <table class="table table-responsive">
    <thead class="thead-light">
      <tr>
        <th scope="col">Supplier Lot</th>
        <th scope="col">Picture Label </th>
        <th scope="col">QA sample</th>
        <th scope="col">Pathogen sample</th>
        <th scope="col">Pesticide sample</th>
        <th scope="col">Comments</th>
        <th scope="col">Edit/ Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sample of sampleList">
        <td>{{sample.supplierLot}}</td>
        <td>
          <div class="row">
            <div class="col">
              <a [href]="sample.imageurl" target="_blank">{{sample.name}} </a>
            </div>
          </div>
          <a [href]="sample.caseImg" target="_blank">{{sample.imagename}} </a>
        </td>
        <td>{{true == sample.qualityAnalysis ? 'Yes' : 'No' }}</td>
        <td>{{true == sample.testGrp ? 'Yes' : 'No' }}</td>
        <td>{{true == sample.pesticideTest ? 'Yes' : 'No' }}</td>
        <td>{{sample.comment}}</td>
        <td>
          <span class="fa fa-edit" (click)="updateSamplecoll(sample)"></span>
          <span class="fa fa-trash" (click)="deleteSample(sample.id)"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row pull-right">
  <span>
    <button type="button" class="btn btn-primary" (click)="onPrevious();">Previous</button>
    <button autofocus="" type="button" class="btn btn-warning" (click)="onExit()">Exit</button>
    <button type="button" class="btn btn-success" (click)='onNext()'>Next</button>
  </span>
</div>
