<div class="row">
    <div class="card col-md-12">
        <div class="card-body" style="position:relative">
            <div class="form-group row well">
                <h6 class="card-title">
                    Configure Dynamic Form
                </h6>
            </div>
            <div class="form-group row">
                <label>Form Type</label>
                <ng-select [items]="formTypes" bindLabel="name" bindValue="_id" placeholder="Select" appendTo="body" [(ngModel)]="input.formTypeId"
                    (add)="formTypeSelected($event)" (clear)="formTypeSelected($event)"></ng-select>
            </div>
            <div class="form-group row">
                <label>Plant</label>
                <ng-select [items]="plants" bindLabel="name" bindValue="_id" placeholder="Select" appendTo="body" [(ngModel)]="input.plantId"></ng-select>
            </div>
            <div class="form-group row">
                <label>Total Columns</label>
                <input type="text" class="form-control" placeholder="Enter Value" id="txtInputRows" [(ngModel)]="input.columns">
            </div>
            <div class="form-group row pull-left">
                <button (click)="formTable($event, input)" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="" *ngIf="showTable" style="width:100%">
        <div class="card" style="margin-top:10px;">
            <div class="card-body" style="position:relative">
                <div class="form-group well">
                    <h6 class="card-title">
                        Dynamic Tabular Form Creation
                    </h6>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th *ngFor="let column of formTableRows" class="text-center">
                                    {{column}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngFor="let item of formTableRows">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label>Label </label>
                                            <input type="text" [attr.name]="'Label-' + item" [attr.id]="'Label-' + item" [(ngModel)]="finalObj[item].label"
                                                class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group row">
                                            <label>Input Type</label>
                                            <ng-select [items]="inputTypes" bindLabel="name" bindValue="name" placeholder="Select" appendTo="body" (add)="inputTypeSelected($event, item)"
                                                (clear)="inputTypeSelected(null, item)" [(ngModel)]="finalObj[item].input"></ng-select>
                                        </div>
                                        <div class="form-group row">
                                            <label>Unit Type</label>
                                            <ng-select [items]="unitTypes" bindLabel="name" bindValue="name" placeholder="Select" appendTo="body" [(ngModel)]="finalObj[item].unitType"
                                                (selected)="onChangeUnitType($event, item)"></ng-select>
                                        </div>
                                        <div class="form-group row">
                                            <label>Validation</label>
                                            <ng-select [items]="validations" bindLabel="name" bindValue="name" placeholder="Select" appendTo="body" multiple="true" [(ngModel)]="finalObj[item].validation" (add)="validationSelected($event, item)"
                                            (clear)="validationSelected(null, item)"></ng-select>
                                        </div>
                                        <div class="form-group row" *ngIf="finalObj[item].inputType=='DropDown'">
                                            <label>Data Points</label>
                                            <ng-select [items]="dataPoints" bindLabel="name" bindValue="_id" placeholder="Select" appendTo="body" (add)="dataSourceSelected($event)"
                                                [(ngModel)]="finalObj[item].dataPoints"></ng-select>
                                        </div>
                                        <div class="form-group row">
                                            <label>Formula : <a href="#" class="badge badge-info" (click)="openFormulaPopup(item)">Generate</a> </label>
                                            <input type="text" [attr.name]="'Label-' + item" [attr.id]="'Formula-' + item" [(ngModel)]="finalObj[item].formula"
                                                class="form-control" placeholder="" (change)="onFormulaEntered(finalObj, item)"
                                                readonly>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group mx-auto">
                <button (click)="onSubmit($event, finalObj, true)" class="btn btn-success">Submit</button>
                <button (click)="onSubmit($event, finalObj, false)" class="btn btn-danger">Reset</button>
            </div>
        </div>
        <div class="container-fluid" *ngIf="myData">
            <p>{{myData}}</p>
        </div>
    </div>
</div>

<!-- Modal section -->
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div id="divFormulaModal" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Formula</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Operation</label>
                <ng-select [items]="operations" bindLabel="name" bindValue="name"  placeholder="Select" appendTo="body" [(ngModel)]="formula.operation"
                    (selected)="onChangeOperation($event, formula)"></ng-select>
            </div>
            <div class="form-group">
                <label>Select Cell(s)</label>
                <ng-select [items]="cellList" placeholder="Select" appendTo="body" [(ngModel)]="formula.cells"
                    (selected)="onChangeSelectCell($event, formula)" multiple="true"></ng-select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-primary" (click)="applyFormula(formula)">Apply</button>
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" (click)="onCloseHandled()">Close</button>
        </div>
      </div>
    </div>
  </div>