<div class="row">
    <div class="card col-md-12">
        <div class="card-body" style="position:relative">
            <div class="form-group row well">
                <h6 class="card-title">
                    Configure Dynamic Form
                </h6>
            </div>
            <div class="form-group row">
                <label>Form Name</label>
                <ng-select [options]="formName" bindLabel="Form Name" placeholder="Select" appendTo="body" [(ngModel)]="input.formName"></ng-select>
            </div>
            <div class="form-group row">
                <label>Colums</label>
                <input type="text" class="form-control" placeholder="" id="txtInputRows" [(ngModel)]="input.rows">
            </div>
            <div class="form-group row pull-left">
                <button (click)="formTable($event, input)" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="" *ngIf="showTable" style="width:100%">
        <div class="card" style="margin-top:10px;">
            <div class="card-body" style="position:relative">
                <div class="form-group well">
                    <h6 class="card-title">
                        Dynamic Tabular Form Creation
                    </h6>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th *ngFor="let column of formTableRows" class="text-center">
                                    {{"Cell " + (column)}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngFor="let item of formTableRows">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label>Label </label>
                                            <input type="text" [attr.name]="'Label-' + item" [attr.id]="'Label-' + item" [(ngModel)]="finalObj['Cell_' + item].label"
                                                class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group row">
                                            <label>Field Type</label>
                                            <ng-select [options]="inputTypes" bindLabel="Field Type" placeholder="Select" appendTo="body" (add)="inputTypeSelected($event)"
                                                [(ngModel)]="finalObj['Cell_' + item].inputType"></ng-select>
                                        </div>
                                        <div class="form-group row">
                                            <label>Required</label>
                                            <ng-select [options]="required" bindLabel="Required" placeholder="Select" appendTo="body" [(ngModel)]="finalObj['Cell_' + item].required"></ng-select>
                                        </div>
                                        <div class="form-group row" *ngIf="finalObj['Cell_' + item].inputType=='DropDown'">
                                            <label>Data Points</label>
                                            <ng-select [options]="dataPoints" bindLabel="Data Points" placeholder="Select" appendTo="body" (add)="dataSourceSelected($event)"
                                                [(ngModel)]="finalObj['Cell_' + item].dataPoints"></ng-select>
                                        </div>
                                        <div class="form-group row">
                                            <label>Formula </label>
                                            <input type="text" [attr.name]="'Label-' + item" [attr.id]="'Formula-' + item" [(ngModel)]="finalObj['Cell_' + item].formula"
                                                class="form-control" placeholder="" (change)="onFormulaEntered(finalObj, item)">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group mx-auto">
                <button (click)="onSubmit($event, finalObj)" class="btn btn-success">Submit</button>
                <button (click)="onSubmit($event, finalObj, true)" class="btn btn-danger">Reset</button>
            </div>
        </div>

        <div class="container-fluid" *ngIf="myData">
            <p>{{myData}}</p>
        </div>
    </div>
</div>