<!-- <div class="row  justify-content-center ">
	<div class="row m-t-5 ">
	    <div class="col-md-4">
	        	<button  [routerLink]="['./rawmaterialdetails']" type="button" class="btn btn-primary">
	        		Create New Record
	        	</button>
	            
	    </div>
	    <div class="col-md-4">
	        	<button [routerLink]="['./rawmaterialtable']"  type="button" class="btn btn-primary">
	        	 Open In Progress Record
	        	</button>
	           
	    </div>
	    <div class="col-md-4">
	        	<button [routerLink]="['./rawmaterialtable']"  type="button" class="btn btn-primary">
	        	 Open completed Record
	        	</button>
	           
	    </div>
	</div>   
</div> -->
<div class="raw-materials justify-content-center card">

  <!-- <form  [formGroup]="dataForm" (ngSubmit)="onSubmit()" novalidate class="float-lg-left"> -->
	<div class="col-md-12 m-t-5 ">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Plant</label>
		          </div>

			          <select name="select" class="form-control form-control-primary" >
			            <option *ngFor="let plant of plants" value= {{plant.name}}>
					    	{{plant.name}}
					  	</option>
			          </select>  
<!-- 
			          <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="plants" placeholder='select Plant' [(ngModel)]="plant"></ng-select> -->

		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Date Created</label>
		          </div>
		          <div class= "col-md-8 form group">	
			          <form class="form-inline">
			            <div class="form-group ">
			              <div class="input-group">
			                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="modelPopup" ngbDatepicker #d="ngbDatepicker">
			                <div class="input-group-addon bg-default" (click)="d.toggle()" >
			                  <span class="icofont icofont-ui-calendar"></span>
			                </div>
			              </div>
			            </div>
			          </form>  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Created By</label>
		          </div>
		          <div class= "col-md-8 form group">
	          			<input type="text" name="input" class="form-control form-control-primary"  >      
		          </div>
		  	</div>        
	 	 </div>
		<!-- </div>	 -->
	<!-- </div> -->
	<!-- <div class="col-md-12"> -->
		<!-- <div class="row"> -->
			<div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Supplier</label>
		          </div>
		          <div class= "col-md-8 form group">

			          <select name="select" class="form-control form-control-primary" >
			             <option *ngFor="let supplier of suppliers" value= {{supplier.name}}>
					    	{{supplier.name}}
					  	</option>
			          </select>  

			       <!--    <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="supliers" placeholder='select suplier' [(ngModel)]="suplier"></ng-select>
 -->
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Broker</label>
		          </div>
		          <div class= "col-md-8 form group">

			          <select name="select" class="form-control form-control-primary" >
			             <option *ngFor="let broker of brokers" value= {{broker.name}}>
					    	{{broker.name}}
					  	</option>
			          </select>  

			       <!--    <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="brokers" placeholder='select broker' [(ngModel)]="broker"></ng-select> -->

		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">COO</label>
		          </div>
		          <div class= "col-md-8 form group">

			          <select name="select" class="form-control form-control-primary" >
			             <option *ngFor="let coo of coos" value= {{coo.name}}>
					    	{{coo.name}}
					  	</option>
			          </select>  

			         <!--  <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="coos" placeholder='select coo' [(ngModel)]="coo"></ng-select> -->

		          </div>
		  	</div>        
	 	 </div>
		<!-- </div> -->	
	<!-- </div>
	<div class="col-md-12"> -->
		<!-- <div class="row"> -->
			<div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Approved</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary" >
			            <option value="opt1">Yes</option>
			             <option value="opt1">No</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Product</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary" >
			             <option *ngFor="let product of products" value= {{product.name}}>
					    	{{product.name}}
					  	</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Product Code</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary" >
			             <option *ngFor="let productcode of productcodes" value= {{productcode.name}}>
					    	{{productcode.name}}
					  	</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
		<!-- </div> -->	
	<!-- </div>
	<div class="col-md-12"> -->
		<!-- <div class="row"> -->
			<div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Variety</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary" >
			           <option *ngFor="let variety of varieties" value= {{variety.name}}>
					    	{{variety.name}}
					  	</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Kosher</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary" >
			             <option *ngFor="let kosher of koshers" value= {{kosher.name}}>
					    	{{kosher.name}}
					  	</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">NonGMO</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary" >
			             <option *ngFor="let nongmo of nongmos" value= {{nongmo.name}}>
					    	{{nongmo.name}}
					  	</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
		<!-- </div> -->	
	<!-- </div>
	<div class="col-md-12"> -->
		<!-- <div class="row"> -->
			<div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Po</label>
		          </div>
		          <div class= "col-md-8 form group">
	         <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="autocompleteItemsAsObjects" [(ngModel)]="selectedOption"></ng-select>     
			        

		          </div>
		  	</div>        
	 	 </div>

	 	 <div class="col-sm-4 data-table">

	 	 <div class="col-xs-12 col-sm-6 col-md-6 data-table" >

		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Container No</label>
		          </div>
		          <div class= "col-md-8 form group">
	       <!--    <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="simpleOption" [(ngModel)]="selectedOption"></ng-select>   --> 
			          
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-xs-12 col-sm-6 col-md-6 data-table" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Lot No</label>
		          </div>
		          <div class= "col-md-8 form group">
	         <ng-select [ngClass]="'ng-select'" [allowClear]="true" [options]="simpleOption" [(ngModel)]="selectedOption"></ng-select>    
			           
		          </div>
		  	</div>        
	 	 </div>
		<!-- </div>	 -->
	<!-- </div> -->
	</div>
</div>
<div class=" row justify-content-center">
		<p>
		  <button  type="button" class="btn btn-primary">Save</button>
		  <button  autofocus="" type="button" class="btn btn-success">Save & Submit</button>
		  <button   type="button" class="btn btn-default">Cancel</button> 
		</p>
	</div>
</div>




<!-- <div class="row  justify-content-center">
	<div class="row">
	    <div class="col-md-6">
	        	<button  [routerLink]="['./rawmaterialdetails']" type="button" class="btn btn-primary">
	        		Create New Receiving Record
	        	</button>
	            
	    </div>
	    <div class="col-md-6">
	        	<button [routerLink]="['./rawmaterialtable']"  type="button" class="btn btn-primary">
	        	 Open In Progress Record
	        	</button>
	           
	    </div>
	</div>   
</div> -->





<!-- <app-form-select></app-form-select> -->

 	 <!-- formConrtolName="id" 
	 formConrtolName="company" 
	 formConrtolName="created_at" 
     formConrtolName="plant"
	 formConrtolName="created_by"
	 formConrtolName="supplier"
	 formConrtolName="broker"
	 formConrtolName="coo"
	 formConrtolName="approved"
	 formConrtolName="product"
	 formConrtolName="product_code"
	 formConrtolName="variety"
	 formConrtolName="kosher"
	 formConrtolName="non_gmo"
	 formConrtolName="po"
	 formConrtolName="container_id"
	 formConrtolName="lot_id" -->




<div class="table-responsive card">

      <div class="table-responsive card">

        <table class="table table-framed ">
          <thead>
          <tr>
            <th>Document(Optional)</th>
            <th>Attachment</th>          
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Bill of Lading</td>
            <td><input type="file" ng2FileSelect [uploader]="uploader" accept="" name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader" accept="" name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
          </tr>
          <tr>
            <td>Commercial Invoice</td>
             <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
          </tr>
          <tr>
            <td>Packing list</td>
             <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader" name=""></td>
          </tr>
           <tr>
            <td>COA</td>
             <td><input type="file" ng2FileSelect [uploader]="uploader" name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader" name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
          </tr>
           <tr>
            <td>CCP verification records</td>
            <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
          </tr>
           <tr>
            <td>Environmental Monitoring records</td>
             <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
          </tr>
           <tr>
            <td>Other Supporting records</td>
             <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
            <td><input type="file" ng2FileSelect [uploader]="uploader"  name=""></td>
          </tr>
          </tbody>
        </table>
			
        <div class=" row justify-content-center">
		<p>
		  <button  type="button" class="btn btn-primary" (click)="save($event)">Save</button>
		  <button  autofocus="" type="button" class="btn btn-success" (click)="submit($event)">Save & Submit</button>
		  <button   type="button" class="btn btn-default" (click)="cancel($event)">Cancel</button> 
		</p>
	</div>

</div>

<!-- 			<td><a href="" class="link">Attach</a></td>
            <td><a href="" class="link">Attach</a></td>
            <td><a href="" class="link">Attach</a></td> -->


