

<!-- <div class="table-responsive card">
      <div class="table-responsive card">
        <table class="table table-framed ">
          <thead>
          <tr>
            <th>Document(Optional)</th>
            <th>Attachment</th>          
          </tr>
          </thead>
          <tbody>
          <tr>
           <p *ngFor="let file of files" class=" col {{file.name}}" >
	         	<span>{{file.name}}</span>           
	   		</p>
            <td>
                <input  type="file" name="filegroup" class="file" ng2FileSelect [uploader]="uploader"  > 
                    <span><i class="fa fa-check"></i></span> *ngIf="file.isSuccess"
                    <span><i class="fa fa-ban"></i></span> 
                    <span><i class="fa fa-times"></i></span>      	
            </td>
          </tr>
          </tbody>
        </table>

        <div class=" row justify-content-center">
			<p>
			  <button  type="button" class="btn btn-primary" (click)="file.upload()">Save</button>
			  <button  autofocus="" type="button" class="btn btn-success" (click)="onsubmit()">Save & Submit</button>
			  <button   type="button" class="btn btn-default" (click)="file.cancel()">Cancel</button> 
			</p>
		</div>

</div> -->

<div class="col-md-12 ">
   <ngb-tabset type="tabs">
    <ngb-tab title="Simple">
      <ng-template ngbTabContent>
        <div class="table-responsive card">
		        <table class="table table-framed ">
		          <thead>
		          <tr>
		            <th>Document</th>
		            <th>Attachment</th>          
		          </tr>
		          </thead>
		          <tbody>
		          <tr>
		            <td>Bill of Lading</td>
		            <td>
		            	<a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-plus"></span>Add</a>
		            	<!-- <input ng2FileSelect [uploader]="uploader"  type="file" name="" multiple=""> -->
		            <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-plus"></span>Add</a> -->
		            <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-paperclip fa-2x"></span></a> -->
						<div class="file-add">
							<form [formGroup]="filesAddForm"  novalidate >
								<div formArrayName="files">
									<div class="" *ngFor="let file of filesAddForm.controls['files'].controls; let i=index" >
										<div [formGroupName]="i">
												<div class="row">
													<div class="col-md-5">
													<div class="form-group">
															
														<!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-plus"></span>Add</a> -->
														<!-- <a href=""> -->
															<span>
																<label for="browse" type="file" class="file " >
																	
																</label>
															   <input  type="file" id="browse" name="browse" >
															</span> 
														<!-- </a> -->
															
														 <a class="" href="#"><span class="fa fa-trash" (click)="delete($event,i)"></span></a>																
														</div>
													</div> 
												</div>
										</div>
									</div>
								</div>
							</form>
						</div>

		            </td>
		          </tr>
		          <tr>
		            <td>Commercial Invoice</td>
		             <td>
		             	<!-- <input ng2FileSelect [uploader]="uploader"  type="file" name="" multiple=""> -->
		             <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-plus"></span>Add</a> -->
		            <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-paperclip fa-2x"></span></a> -->


		             </td>
		          </tr>
		          <tr>
		            <td>Packing list</td>
		             <td>
		             	<!-- <input ng2FileSelect [uploader]="uploader"   type="file" name="" multiple=""> -->
		            <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-plus"></span>Add</a> -->
		            <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-paperclip fa-2x"></span></a> -->

		             </td>
		          </tr>
		           <tr>
		            <td>COA</td>
		             <td>
		             	<!-- <input ng2FileSelect [uploader]="uploader"  type="file" name="" multiple=""> -->
		             <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-plus"></span>Add</a> -->
		            <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-paperclip fa-2x"></span></a> -->

		             </td>

		          </tr>
		           <tr>
		            <td>CCP verification records</td>
		            <td>
		            	<!-- <input ng2FileSelect [uploader]="uploader"  type="file" name="ccp_1" multiple=""> -->
		            <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-plus"></span>Add</a> -->
		            <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-paperclip fa-2x"></span></a> -->

		            </td>
		          </tr>
		           <tr>
		            <td>Environmental Monitoring records</td>
		            <td>
		            	<!-- <input ng2FileSelect [uploader]="uploader"  type="file" name="" multiple=""> -->
		            <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-plus"></span>Add</a> -->
		            <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-paperclip fa-2x"></span></a> -->

		            </td>
		           <tr>
		            <td>Other Supporting records</td>
		             <td>
		             	<!-- <input ng2FileSelect [uploader]="uploader"  type="file" name="" multiple=""> -->
		             <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-plus"></span>Add</a> -->
		            <!-- <a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-paperclip fa-2x"></span></a> -->

		             </td>
		          </tr>
		          </tbody>
		        </table>
				  <button class="btn btn-info">
					    <label for="browse">Add new document</label>
					    <input  type="file" id="browse" name="browse" style="display: none">
				  </button>
			
		        <div class=" row justify-content-center">
					<p>
					  <button  type="button" class="btn btn-warning" (click)="cancel($event)">Cancel</button>
					  <button  autofocus="" type="button" class="btn btn-success" (click)="uploadFile(filesAddForm,$event) ">Save</button>
					  <button   type="button" class="btn btn-default" (click)="exit($event)">Exit</button> 
					</p>
				</div>				
		</div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><p>Sample Preparation</p></ng-template>
      <ng-template ngbTabContent>
        <p></p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Sample Collection" >
      <ng-template ngbTabContent>
        <p></p>
      </ng-template>
    </ngb-tab>
     <ngb-tab title="Quality Analysis" >
      <ng-template ngbTabContent>
        <p></p>
      </ng-template>
    </ngb-tab>
     <ngb-tab title="Micro/Chemical Analysis" >
      <ng-template ngbTabContent>
        <p></p>
      </ng-template>
    </ngb-tab>
     <ngb-tab title="Summary" >
      <ng-template ngbTabContent>
        <p></p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<!-- <div class="table-responsive card">
        <table class="table table-framed ">
          <thead>
          <tr>
            <th>Document</th>
            <th>Attachment</th>          
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Bill of Lading</td>
            <td><input ng2FileSelect [uploader]="uploader"  type="file" name=""></td>
          </tr>
          <tr>
            <td>Commercial Invoice</td>
             <td><input ng2FileSelect [uploader]="uploader"  type="file" name=""></td>
          </tr>
          <tr>
            <td>Packing list</td>
             <td><input ng2FileSelect [uploader]="uploader"   type="file" name=""></td>
          </tr>
           <tr>
            <td>COA</td>
             <td><input ng2FileSelect [uploader]="uploader"  type="file" name=""></td>
          </tr>
           <tr>
            <td>CCP verification records</td>
            <td><input ng2FileSelect [uploader]="uploader"  type="file" name=""></td>
          </tr>
           <tr>
            <td>Environmental Monitoring records</td>
            <td><input ng2FileSelect [uploader]="uploader"  type="file" name=""></td>
           <tr>
            <td>Other Supporting records</td>
             <td><input ng2FileSelect [uploader]="uploader"  type="file" name=""></td>
          </tr>
          </tbody>
        </table>

        <div class=" row justify-content-center">
			<p>
			  <button  type="button" class="btn btn-primary" (click)="save($event)">Edit</button>
			  <button  autofocus="" type="button" class="btn btn-success" (click)="saveFile() ">Save</button>
			  <button   type="button" class="btn btn-default" (click)="cancel($event)">Cancel</button> 
			</p>
		</div>				
</div>
		 -->		<!-- || file.isUploading || file.isSuccess
				<span *ngIf="file.isSuccess"><i class="fa fa-check"></i></span> -->


<!-- 			<td><a href="" class="link">Attach</a></td>
            <td><a href="" class="link">Attach</a></td>
            <td><a href="" class="link">Attach</a></td> -->
<!-- 
<div class="files-add">

	<form [formGroup]="filesAddForm"  novalidate >
		<div formArrayName="files">
			<div class="" *ngFor="let file of fileAddForm.controls['files'].controls; let i=index" >
				<div [formGroupName]="i">

					<div class="row">
						<div class='col-md-' >
						</div>
						<div class="col-md-5">
							<div class="form-group">
						    	 <input  type="file" formControlName="file" name="">
						  	</div>
						</div>  -->

					<!-- 	<div class="col-md-3 fname"> 
							<div class="form-group">
							  
							</div>
						</div> -->
						<!-- <div class="col-md-3 lname"> 
							<div class="form-group">
							    
							</div>
						</div> -->

<!-- 						<div class="col-md-1"> 
						</div>
					</div>

				</div>
			</div>
		</div>
	</form>

	<a  href="#" (click)="addFile($event)" class="add-another"><span class="fa fa-plus"></span>Add a new Document</a>

</div> -->

<!-- <pre>{{memberAddForm.value |json}}</pre> -->
<!-- [formArray]='memberAddForm' (ngSubmit)="onSubmit()" novalidate -->
<!-- *ngFor="let member of memberAddForm.controls; let i=index" -->
<!-- (click)="addClicked($event)" -->
<!-- <a class="" href="#"><span class="fa fa-trash" (click)="delete($event,i)"></span></a> -->



