<div class="login p-fixed d-flex text-center bg-primary common-img-bg">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="resetPwdForm" class="float-lg-left" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
          
          <div class="auth-box">
                <div class="col-md-12">
                      <h3 class="text-left txt-primary">New Password</h3>
                </div>
                <div class="row ">
                    <div class="col-md-12 form group">
                      <label class="text-left text-secondary">Set a new password for your Smart Food Safe account</label>
                    </div>
                </div>
                <hr/>
            
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="New Password" formControlName="password">
                  <div class="messages text-danger clearfix float-left" *ngIf="resetPwdForm.controls['password'].errors && (resetPwdForm.controls['password'].dirty || resetPwdForm.controls['password'].touched)">
                    <p *ngIf="resetPwdForm.controls['password'].errors.required">Password can't be empty</p>
                  </div>
                  <!-- <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                    Password is required
                  </div> -->

                </div>
            
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
                  <div class="messages text-danger clearfix float-left" *ngIf="resetPwdForm.controls['confirmPassword'].errors && (resetPwdForm.controls['confirmPassword'].dirty || resetPwdForm.controls['confirmPassword'].touched)">
                    <p *ngIf="resetPwdForm.controls['confirmPassword'].errors.required">Confirm Password can't be empty</p>
                  </div>
                  
                </div>

                <hr/>
                
            
                <div class="row m-t-25 text-left">
                  <div class="col-12">
                    <div class="reset-password">
                     <button type="submit" (ngSubmit)="onSubmit()" [disabled]="!resetPwdForm.valid" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Submit</button>
                    </div>
                  </div>
                </div>
          </div>            
        </form>     
    </div>   
  </div> 
</div>
</div>





