<div class="login p-fixed d-flex text-center bg-primary common-img-bg">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form formGroup="resetPwdForm" class="float-lg-left" novalidate autocomplete="off" (ngSubmit)="onSubmit(resetPwdForm.value)">
          
          <div class="auth-box">
                <div class="col-md-12">
                      <h3 class="text-left txt-primary">New Password</h3>
                </div>
                <div class="row ">
                    <div class="col-md-12 form group">
                      <label>Set a new password for your Smart Food Safe account</label>
                    </div>
                </div>
                <hr/>
            
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="New Password" [formControl]="resetPwdForm.controls['newPassword']">

                </div>
            
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Confirm Password" [formControl]="resetPwdForm.controls['confirmPassword']">
                  
                </div>

                <hr/>
                
            
                <div class="row m-t-25 text-left">
                  <div class="col-12">
                    <div class="reset-password">
                     <button type="submit" (ngSubmit)="onSubmit()" [disabled]="!resetPwdForm.valid" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Submit</button>
                    </div>
                  </div>
                </div>
          </div>            
        </form>     
    </div>   
  </div> 
</div>
</div>





