.login{
	 
	/*background-image: url("/assets/images/auth/pic.png");*/
	background-size: cover;
	background-position: center;
	
	/*opacity: 0.5;*/

	.auth-box{
		/*background:#3A8CAE;*/
		margin-left:10px;
		width: 300px;
		margin-bottom: 80px;
		
	}
	.text-left{
		font-size: 14;
		font-weight:600;

	}
	.sub-text {
		color:	rgb(38, 41, 41);
	}
	.text-right{
		color:	rgb(18, 19, 19);
	}
	.re-size{
        height: 80px;
        width:  80px;
	}
	/deep/ .mat-input-placeholder {
		font-size: 2em;
	}
}