.raw-materials,
.doc-upload {
  .data-table {
    padding-top: 10px;
    padding-bottom: 8px;
    margin-left: 8px;
  }
}
.list-group-item{
  display:inherit ;
}
   .card{
     padding-top: 15px;

     } 

.action{
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;     
  }


.table {
  table-layout: fixed;
  word-wrap: break-word;
}

 .table th, table td {
      overflow: hidden;
  }

 :host/deep/ .nav-tabs .nav-link.active, .nav-tabs .nav-item.show {
  background-color: #eaeaea;
  border-right-color:#7f827e;
  border-left-color:#7f827e;
  border-top-color:#7f827e; 
}
 :host/deep/ .nav-link{
  margin-left:5px;
 }
.btn{
     text-transform: uppercase;
     letter-spacing: 1px; 
     margin-bottom: 20px;  
     margin-right:5px; 
     font-weight: 900;
     font-size: 12px;
     width: 100px;
     height: 40px;    
     }  