<div class="raw-materials justify-content-center">
	<div class="col-md-12">
		<div class="row">
			<div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Plant</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary">
			            <option value="opt1">Montreal</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Date Created</label>
		          </div>
		          <div class= "col-md-8 form group">
			         <input class="form-control" type="datetime-local" />  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Created By</label>
		          </div>
		          <div class= "col-md-8 form group">
	          			<input type="text" name="input" class="form-control form-control-primary" >      
		          </div>
		  	</div>        
	 	 </div>
		</div>	
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Supplier</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary">
			            <option value="opt1"><!-- {{supplier.name}} --></option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Broker</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary">
			            <option value="opt1">Montreal</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">COO</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary">
			            <option value="opt1">Montreal</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
		</div>	
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Approved</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary">
			            <option value="opt1">Yes</option>
			             <option value="opt1">No</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Product</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary">
			            <option value="opt1">Montreal</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Product Code</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary">
			            <option value="opt1">Montreal</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
		</div>	
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Variety</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary">
			            <option value="opt1">Montreal</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Kosher</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary">
			            <option value="opt1">Montreal</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">NonGMO</label>
		          </div>
		          <div class= "col-md-8 form group">
			          <select name="select" class="form-control form-control-primary">
			            <option value="opt1">Montreal</option>
			          </select>  
		          </div>
		  	</div>        
	 	 </div>
		</div>	
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Po</label>
		          </div>
		          <div class= "col-md-8 form group">
	          <input type="text" name="input" class="form-control form-control-primary" >     
			        

		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Container No</label>
		          </div>
		          <div class= "col-md-8 form group">
	          <input type="text" name="input" class="form-control form-control-primary" >     
			          
		          </div>
		  	</div>        
	 	 </div>
	 	 <div class="col-sm-4" >
		  	<div class="row ">
		  		<div class="col-md-4 form group">
		            <label for="name">Lot No</label>
		          </div>
		          <div class= "col-md-8 form group">
	          <input type="text" name="input" class="form-control form-control-primary" >     
			           
		          </div>
		  	</div>        
	 	 </div>
		</div>	
	</div>

	<div class=" row justify-content-center">
		<p>
		  <button  type="button" class="btn btn-primary">Save</button>
		  <button  autofocus="" type="button" class="btn btn-success">Save & Submit</button>
		  <button   type="button" class="btn btn-default">Cancel</button> 
		</p>
	</div>
</div>


