<style type="text/css">
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #ddd #ddd #fff !important;
  }

</style>
<div class="doc-upload">
  <div class="doc-upload card">
    <div class="row data-table" *ngIf="recordDetails._id">
      <div class="col-md-4">
        Plant :
        <strong> {{recordDetails.plant.name}}</strong>
      </div>
      <div class="col-md-4">
        Supplier :
        <strong> {{recordDetails.supplier.name}}</strong>
      </div>
      <div class="col-md-4">
        Broker :
        <strong> {{recordDetails.broker.name}}</strong>
      </div>
      <div class="col-md-4">
        Country :
        <strong> {{recordDetails.country}}</strong>
      </div>
      <div class="col-md-4">
        Raw Material Group :
        <strong> {{recordDetails.rawMaterial.rmGroupName}}</strong>
      </div>
      <div class="col-md-4">
        Purchase Order :
        <strong> {{recordDetails.po}}</strong>
      </div>
      <div class="col-md-4">
        Container No :
        <strong> {{recordDetails.containerNo}}</strong>
      </div>
      <div class="col-md-4">
        Lot Number :
        <strong> {{recordDetails.lotNo}}</strong>
      </div>
      <div class="col-md-4">
        Approved :
        <strong> {{recordDetails.approved}}</strong>
      </div>
      <div class="col-md-4">
        Raw Material :
        <strong> {{recordDetails.rawMaterial.name}}</strong>
      </div>
    </div>
  </div>

  <div class="col-md-12 ">
    <ngb-tabset type="tabs" #tabs>
      <ngb-tab title="Document" id="documentUploadid1">
        <ng-template ngbTabContent>
          <table class="table table-framed table-responsive">
            <thead>
              <tr>
                <th>Document</th>
                <th>Attachment</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let type of fileList">
                <td>{{type.title}}</td>
                <td>
                  <form novalidate>
                    <div class="form-group">
                      <label class="custom-file mb-3">
                        <input type="file" ng2FileSelect ng2FileDrop [uploader]="type.attachmentList" multiple class="custom-file-input">
                        <span class="custom-file-control">Drag and drop your files here</span>
                      </label>

                      <ul class="list-inline">
                        <li class="list-group-item media-left" *ngFor="let item of type.attachmentList.queue; let i=index">
                          <img src="" imgPreview [image]="item?._file" class="media-object" />
                          <span class="fa fa-trash" (click)="delete($event,i,type.attachmentList.queue)"></span>
                        </li>
                      </ul>
                    </div>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
          <div class=" row justify-content-center">
            <!-- button type="button" class="btn btn-warning" (click)="cancel($event)">Cancel</button -->
            <button autofocus="" type="button" class="btn btn-success" (click)="uploadFile(filesAddForm,$event)">Save</button>
            <!-- button type="button" class="btn btn-default" (click)="exit($event)">Exit</button -->
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Sample Preparation" id="samplepreparationid">
        <ng-template ngbTabContent>
          <app-sample-preparation></app-sample-preparation>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Sample Collection" id="samplecollectionid">
        <ng-template ngbTabContent>
          <app-sample-collection></app-sample-collection>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Quality Analysis" id="qualityanalysisid">
        <ng-template ngbTabContent>
          <app-quality-analysis></app-quality-analysis>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Micro/Chemical Analysis" id="microchemicalanalysid">
        <ng-template ngbTabContent>
          <p></p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Summary" id="summaryid">
        <ng-template ngbTabContent>
          <p></p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>


<!-- [ngClass]="{'active': activeTab === tab.value, 'disabled':tab.disabled ? tab.disabled : false}" -->
<!-- [ngbTabContent]="['bg-warning','text-white']" -->
<!-- <ngb-tab>
  <template ngbTabTitle ><b>Fancy</b> title</template>
  <template ngbTabContent>content</template>
</ngb-tab>
 -->
