@import "bootstrap";
.raw-materials,
.doc-upload {
  .data-table {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 8px;
  }
}
.list-group-item{
  display:inherit ;
}

.media-left img {
  height: 50px;
}


.doc{ 
background-color:#28d745;
}


.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

  table th, table td {
      overflow: hidden;
  }

  .mypadding{
    margin-bottom: 10px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
