.raw-dyanamic {		
   .card{
   	border-radius:5px;
	box-shadow:rgba(4, 26, 55, 0.16);
	border: none; 
	border-top: 10px;
	border-left: 10px;
	}	
	.checkbox{
		padding-left: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 4px;
	}	
	.action{		
	}
}

