/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.create_button div > div > ul > li > a > span.ui-menuitem-text{
    color:royalblue!important;
    font-size: 14px !important;
    }
.header_color{
    background: royalblue;
    color: white;
}

.mat-form-field{
    width:100% !important;
}
.align_header{
    margin:0 !important;
    padding-left:50px !important;
}
.mat-expansion-panel{
  margin: 10px!important;
  padding-top: 20px;
}
.mat-tab-labels{
  background-color: white;
}
.mat-tab-label{
    font-weight: bold!important;
    color: black!important;  
  }
  .ui-state-default a {
    color: #ffffff !important;
}
.create_button{
    float:right !important;
    color:royalblue !important;
    margin-right: 10px!important;
  }
  .page_button{
    float:right !important;
    color:white !important;
    margin-right: 10px!important;
  }
  .save_changes{
    right: 0% !important;
    position: absolute !important;
  }
  .align_upload{
    width: 46%!important;
    margin-left: 13px!important;
}
.align_avatar{
    margin-top:7%!important;
    height:140px !important;width:160px !important;
}
.img-responsive{
    width:46% !important;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: turquoise !important;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color:rgba(112, 240, 240, 0.8) !important;
}
.pad-rightleft-0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}




