<div class="justify-content-center top">
  <div class="row m-t-5 ">
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-block">
        Create a record template
      </button>
    </div>
    <div class="col-md-3">
      <button [routerLink]="['./create']" type="button" class="btn btn-primary btn-block">
        Add a new record
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-block">
        Summary
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-block">
        Dashboard
      </button>
    </div>
  </div>
</div>
<div class="card text-center">

  <!-- Search Bar -->
  <div class="card-header">
    <div class="form-group row">
      <div class="row col-sm-12">
        <tag-input [ngClass]="'tag-select'" theme='bootstrap' [placeholder]="'Search...'" [ngModel]="[]" [onlyFromAutocomplete]="true">
          <tag-input-dropdown [displayBy]="'value'" [identifyBy]="'id'" [autocompleteItems]="autocompleteItemsAsObjects"></tag-input-dropdown>
        </tag-input>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12   action">
      <button [disabled]="selected.length == 0" type="button" class="btn btn-danger pull-right" (click)="openConfirmsSwal($event)">
        <i class="icofont icofont-delete-alt"></i>
      </button>
      <button [disabled]="selected.length > 1" type="button" class="btn btn-default pull-right">
        <i class="icofont icofont-edit-alt"></i>
      </button>
    </div>
  </div>

  <!-- Table to display -->
  <div class="card-body" *ngIf="recordList.length > 0">
      <i class="fa fa-chevron-up" *ngIf="sortDirection === 'asc'" ></i>
      <i class="fa fa-chevron-down" *ngIf="sortDirection === 'desc'"></i>
      <ng-content>
    <div class="row "(sorted)="onSorted($event)">
      <div class="table-responsive ">

        <ngx-datatable class="data-table fullscreen" [rows]="recordList" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="50" [limit]="10" [selected]="selected" [selectionType]="'multi'" (activate)="onActivate($event)" (select)='onSelect($event)'
          (dblclick)='doubleClickAction(selected)'>

          <ngx-datatable-column  name="Created Date" sortable-column="Created Date">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" ng-repeat="row in record | orderBy:'_id':false">
              <span class="table-head" [ngClass]="{'-sort': column != 'CategoryID', 
							'fa-sort-asc': (column == 'CategoryID' && !isDesc), 
							'fa-sort-desc': (column == 'CategoryID' && isDesc) }"
aria-hidden="true">
                {{row.createdDate | date:'dd/MM/yyyy'}}
              </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Purchase Order" sortable-column="Purchase Order">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" ng-repeat="row in record | orderBy:'_id':false" >
              <span class="table-head" [ngClass]="{'-sort': column != 'CategoryID', 
							'fa-sort-asc': (column == 'CategoryID' && !isDesc), 
							'fa-sort-desc': (column == 'CategoryID' && isDesc) }"
aria-hidden="true">
                {{row.po}}
              </span>
            </ng-template>
          </ngx-datatable-column>

          <!-- <ngx-datatable-column name="Product">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{row.product.name}}
            </span>
          </ng-template>
        </ngx-datatable-column> -->

          <ngx-datatable-column  name="Supplier Name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row "ng-repeat="row in record | orderBy:'_id':false">
              <span class="table-head" [ngClass]="{'-sort': column != 'CategoryID', 
							'fa-sort-asc': (column == 'CategoryID' && !isDesc), 
							'fa-sort-desc': (column == 'CategoryID' && isDesc) }"
aria-hidden="true">>
                {{row.supplier.name}}
              </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column  name="Lot Number">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" ng-repeat="row in record | orderBy:'_id.row.lotNo':false">
              <span class="table-head" [ngClass]="{'-sort': column != 'CategoryID', 
							'fa-sort-asc': (column == 'CategoryID' && !isDesc), 
							'fa-sort-desc': (column == 'CategoryID' && isDesc) }"
aria-hidden="true">
                {{row.lotNo}}
              </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column  name="Container Number">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" ng-repeat="row in record | orderBy:'_id':false">
              <span class="table-head" [ngClass]="{'-sort': column != 'CategoryID', 
							'fa-sort-asc': (column == 'CategoryID' && !isDesc), 
							'fa-sort-desc': (column == 'CategoryID' && isDesc) }"
aria-hidden="true">
                {{row.containerNo}}
              </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column  name="Country">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" ng-repeat="row in record | orderBy:'_id':false">
              <span class="table-head" [ngClass]="{'-sort': column != 'CategoryID', 
							'fa-sort-asc': (column == 'CategoryID' && !isDesc), 
							'fa-sort-desc': (column == 'CategoryID' && isDesc) }"
aria-hidden="true">
                {{row.country}}
              </span>
            </ng-template>
          </ngx-datatable-column>
        </ng-content>
          <ngx-datatable-column name="Status">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" ng-repeat="row in record | orderBy:'_id.':false">
              <span class="table-head" [ngClass]="{'-sort': column != 'CategoryID', 
							'fa-sort-asc': (column == 'CategoryID' && !isDesc), 
							'fa-sort-desc': (column == 'CategoryID' && isDesc) }"
aria-hidden="true">
                In Progress
              </span>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
    
      </div>
    </div>
  </div>