.btn-success{
    color: #fff;
    background-color: #72c02c;
    border:none;
}
.tag-select{
    width:100%;
}
.card .card-header span{
    margin-top: 0 !important;
}
.table-head{
	  font-size: 14px;
    font-weight: 700;
    padding-top: 8px;
    text-align: center;
}

.top{
  	
     border-top: 15px;
     margin-bottom: 15px;
   
}