
<mat-accordion>
        <mat-expansion-panel [expanded]="true" (opened)="false" hideToggle="true">
          <mat-panel-description>
                <mat-hint align="end">1000</mat-hint>
                <mat-slider
                class="example-margin"
                [max]="7000"
                [min]="1000"
                [thumb-label]="false"
                [value]="value"
                (change)="SliderChnage($event)"
                >
                </mat-slider>
                <mat-hint align="end">7000</mat-hint>
                
            </mat-panel-description>
        </mat-expansion-panel>
        </mat-accordion>

<mat-accordion>
    <mat-expansion-panel [expanded]="true" (opened)="false" hideToggle="true">
      <mat-panel-description>
        <p-dataTable [value]="flightData" [responsive]="true"  [rows]="5" [paginator]="true" [pageLinks]="3" >
            <p-column field="from" header="From" [sortable]="true"></p-column>
            <p-column field="to" header="To" [sortable]="true"></p-column>
            <p-column  header="Time" [sortable]="true">
                <ng-template pTemplate type="body" let-data="rowData" let-index="rowIndex">
                    {{data.departureTime}}
                  </ng-template>
            </p-column>
            <p-column field="date" header="Date" [sortable]="true"></p-column>
            <p-column field="flightRate" header="Rate" [sortable]="true"></p-column>
        </p-dataTable>
          </mat-panel-description>
          </mat-expansion-panel>
          </mat-accordion>
        